* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.border {
  border: 1px solid red;
}
nav {
  width: 100vw;
  height: 10vh;
  background-color: #eef9ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav:hover {
  background-color: #f7f7f7;
}
.logo {
  width: 10%;
  height: 60%;
}
.logo > img {
  height: 100%;
  width: 100%;
}
.option {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionBox {
  min-width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5rem;
  font-weight: 300;
}
.loginBox {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sheetText {
  width: 35%;
  font-size: 0.5rem;
  font-weight: 300;
  text-decoration: underline;
}
.switchRoot {
  height: 70%;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}
.loginText {
  height: 70%;
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
svg {
  transform: scale(0.8);
}
.container {
  height: 100vh;
  width: 100vw;
  background-image: url(./backgroundImageIndigo.avif);
}
.HeadingText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 2%;
}
.ticketCheckerRoot {
  position: relative;
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.ticketChecker {
  height: 100%;
  width: 100%;

  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.options {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf0f6;
}
.ticketBooking {
  height: 85%;
  width: 100%;
}
.options > .optionBox {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e3e5;
}
.dealsAndOffers {
  background-color: #010099;
  border-color: #010099;
  color: white;
  position: absolute;
  right: -50px;
  top: 50%;
  font-size: 0.5rem;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  transform: rotate(90deg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.flightOptionsAndCurrency {
}
.flightOptions {
  font-size: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  margin-top: 10px;
}
.flightOptions > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flightOptions > div > input {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.flightOptions > div > .notselected {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #010099;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.flightOptions > div > label {
  margin-right: 10px;
}
